<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>

<form th:method="post" th:action="@{/users}" th:object="${user}">
    <input type="hidden" th:field="*{id}">

    <label for="name"> Name: </label>
    <input type="text" th:field="*{name}" , id="name" >
    <br/>
    <label for="surname"> Surname: </label>
    <input type="text" th:field="*{surname}" , id="surname">
    <br/>
    <label for="age"> Age: </label>
    <input type="number" th:field="*{age}" , id="age">
    <br/>
    <br/>
    <input type="submit" value="OK"/>

</form>

</body>
</html>